.leftarc {
margin: 10px;
padding: 10px;
border: 1px solid black;
border-radius: 18px;
}

.col-2 .button {
    display: flex;
    padding: 18px;
    align-items: center;
    justify-content: center;
}
